.Modal {
  z-index: 1000  !important;
}

.fc-overlay {
  z-index: 0 !important;
}

.Modal {
  position: fixed !important;

}

.custom-modal {
  z-index: 1000 !important; 
}

.custom-division-container button {
  background-color: #007bff; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.custom-division-container span {
  margin-right: 10px; 
}

.calendar-container {
  display: flex;
}

.calendar-main {
  flex-grow: 1;
}

.calendar-sidebar {
  width: 250px; 
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

