.navbar {
  background-color: #282c34;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-menu {
  display: flex;
  gap: 15px;
}

.navbar-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  outline: inherit; 
}

.navbar-item:hover {
  color: #e9664f;
}
