.navbar {
  background-color: #282c34;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 1in; /* Adjust the spacing */
  padding: 10px; /* For better hover effect */
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.navbar-item:hover {
  color: #61dafb;
}
